@import "standalone/reset.less";
@import "standalone/sandstone.less";

@import "home/home.less";
@import "home/home-promo.less";

#colophon .logo a {
    background-image: url("/resources/mozilla_wordmark-white.svg");
    background-size: auto 24px;
    width: auto;
}
