[hidden] {
    display: none;
    visibility: hidden;
}

.so-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);

    dialog {
        position: relative;
        display: block;
        margin: 3em auto;
        max-width: 90%;
        height: 90%;

        & > ul {
            background: white;
            padding: 1em;
            height: 90%;
            overflow: auto;
        }
    }
}

.close-overlay {
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
    height: 2em;
    width: 2em;
    display: block;
    margin: -1em;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 1em;
    text-align: center;
    line-height: 22px;
    box-sizing: border-box;
    border: 5px solid transparent;

    &:hover {
        color: white;
        text-decoration: none;
        border: 5px solid rgba(255, 255, 255, 0.1);
    }
}
