<a class="panel-link" href="#" rel="">
    <div class="face-outer">
        <div class="face" style="background-image:url('http://www.gravatar.com/avatar/{{ url|e('html_attr') }}?r=g&amp;s=140')" ></div>
    </div>
</a>
