{% macro rendertile() %}
    {% set tiles = gettiles() %}
    {% if tiles|length > 0 %}
        {% set index = random(tiles) %}
        {{ rendertile(index) }}
        {% if index == 0 %}
        <li class="item promo-small-landscape privacy random">
            <a class="panel-link" rel="external" href="https://www.mozilla.org/firefox/private-browsing/">
                <h2>{% trans %}tiles.privacy{% endtrans %}</h2>
            </a>
        </li>
        {% elseif index == 1 %}
        <li class="item promo-small-landscape dev-edition random">
            <a class="panel-link" rel="external" href="https://www.mozilla.org/firefox/developer/"></a>
            <div class="primary"></div>
        </li>
        {% endif %}
    {% else %}
    <li class="item promo-small-landscape random">
        <a class="panel-link" rel="" href="#">
            <h2>Random</h2>
        </a>
    </li>
    {% endif %}
{% endmacro %}

{# Only one tiny tile is rendered at any time, so we don't have to track these #}
{% macro rendertinytile() %}
    {% set tiles = [0, 1] %}
    {% set index = random(tiles) %}
    {% if index == 0 %}
    <li class="item promo-tiny firefox-android random">
        <a class="panel-link" rel="external" href="https://www.mozilla.org/firefox/android/">
        </a>
    </li>
    {% elseif index == 1 %}
    <li class="item promo-tiny firefox-ios random">
        <a class="panel-link" rel="external" href="https://www.mozilla.org/firefox/ios/">
        </a>
    </li>
    {% endif %}
{% endmacro %}
