<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        html, body {
            height: 100%;
        }

        .container {
            margin: 0 auto;
            border: 1px solid gray;
            position: relative;
            width: 1260px;
            height: 100%;
        }

        .tileElement {
            position: absolute;
            border: 1px solid gray;
            display: inline-block;
        }

    </style>
</head>
<body>
<div id="tileA"></div>
<div id="tileB"></div>
<div id="tileC">{{ render(controller('AppBundle:Default:contributorTile')) }}</div>
<div id="tileD">{{ render(controller('AppBundle:Default:contributorTile')) }}</div>
<div id="tileE"></div>
<div id="tileF"></div>
<div id="tileG"></div>
<div id="tileH"></div>
<div id="tileI">
    <a class="twitter-timeline" href="https://twitter.com/MozillaCH" data-widget-id="581826491673128960">Tweets by @MozillaCH</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div id="tileJ"></div>
<div id="tileK"></div>
<div id="tileL"></div>
<div id="tileM"></div>
<div id="tileN"></div>
<div id="tileO"></div>
<div id="tileP"></div>
<div id="tileQ"></div>
<div id="tileR"></div>
<div id="tileS"></div>

<div class="container"></div>
<script>
    var parseLayout = function(str) {
        /**
         * Represents a single tile entry. The tile starts at (xs, ys) and extends
         * to (xe, ye), where the start and end positions are inclusive. The coordinate
         * system starts at the top left border with (0, 0).
         */
        var TileEntry = function(name, x, y) {
            this.name = name;

            // Start position of the tile.
            this.xs = x;
            this.ys = y;
            // End position of the tile.
            this.xe = x;
            this.ye = y;
        }
        TileEntry.prototype.extendTo = function(x, y) {
            this.xe = Math.max(this.xe, x);
            this.ye = Math.max(this.ye, y);
        }

        var tiles = {};
        var lines = str.replace(/=/g, ' ').split('\n').slice(1);
        lines.forEach(function(line, y) {
            line.trim().split(' ').forEach(function(c, x) {
                if (c in tiles) {
                    tiles[c].extendTo(x, y);
                } else {
                    tiles[c] = new TileEntry(c, x, y);
                }
            });
        });

        return tiles;
    }

    var layouts = {};
    layouts['1260'] = parseLayout(`
    A=A B=B C D E=E
    A=A F=F=F=F G H
    A=A F=F=F=F I=I
    J=J K=K L=L I=I
    M N K=K L=L I=I
    O P K=K Q R I=I`);

    var containerDOM = document.querySelector('.container');
    var tiles = {};
    var names = [
        'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L',
        'M', 'N', 'O', 'P', 'Q', 'R', 'S'
    ];

    names.map(function(name) {
        var dom = tiles[name] = document.querySelector(`#tile${name}`);
        containerDOM.appendChild(dom);
        if (dom.innerHTML == '') {
            dom.innerHTML = `Tile-${name}`;
        }
    });


    var updateTilePosition = function(dom, tileData) {
        dom.className = 'tileElement';
        dom.style.left = (tileData.xs * 160) + 'px';
        dom.style.top = (tileData.ys * 160) + 'px';
        dom.style.width = ((tileData.xe - tileData.xs + 1) * 160 - 40) + 'px';
        dom.style.height = ((tileData.ye - tileData.ys + 1) * 160 - 40) + 'px';
        return dom;
    }


    var layout = layouts['1260'];
    names.forEach(function(name) {
        updateTilePosition(tiles[name], layout[name]);
    })

</script>
</body>
</html>
